@charset "UTF-8";



.tag1 {
	font-size: 0.9em;
	background-color: #B2B2B2;
	padding: 1px 4px 1px 4px;
	border-radius: 5px;
	color: white;
	border: 2px solid white;
}

.category1 {
	font-size: 0.9em;
	background-color: #5BC0DE;
	padding: 1px 4px 1px 4px;
	border-radius: 5px;
	color: white;
	border: 2px solid white;
}