@charset "UTF-8";

section {
	position: relative;
	top:75px;
	display: flex;
	justify-content: center;
	height: auto;
	min-height: 100%;
	padding-bottom:10%;
	
}

.bodyWrap {
	width:1400px;
	height: 100%;
	display: flex;
}

a{
	text-decoration: none;
	color: black;
}

.bodyWrap .questionBoxWrap{
	width: 1050px;
	padding-top: 20px;
}



/*********** 사이드박스 ********/
.bodyWrap .sideBox {
	width: 350px;
}

.sideBox .createQuestion button {
	margin: 50px 0 0 35px;
	width:80%;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.sideBox .createQuestion button:hover {
	cursor: pointer;
}

.sideBox .questionTag {
	width: 90%;
	margin: auto;
	margin-top: 40px;
}

.sideBox .questionTag .questionTagTitle {
	border-bottom: 1px solid rgb(216, 216, 216);
	font-size: 35px;
	font-weight: bold;
	font-family: 'Cute Font', cursive;
}

.sideBox .questionTag .questionTagTitle i {
	font-size: 20px;
	margin-left: 5px;
}

.sideBox .questionTag .sideTagBox .Tag {
	background-color: rgb(180, 180, 180);
	border-radius: 5px;
	padding: 2px 7px;
	display : inline-block;
	color : white;
	font-weight: bold;
	margin: 10px 0;
}

.sideBox .questionTag .sideTagBox .Tag:hover {
	color: white;
	cursor: pointer;
}

.sideBox .hotQuestion {
	position: sticky;
	top: 85px;
	margin-top: 50px;
}

.sideBox .hotQuestion table {
	width:90%;	
	margin: auto;
	border-bottom: 1px solid rgb(216, 216, 216);
	padding-bottom: 10px;
}

.sideBox .hotQuestion th {
	border-bottom: 1px solid rgb(216, 216, 216);
	text-align: left;
	font-size: 35px;
	font-family: 'Cute Font', cursive;
}

.sideBox .hotQuestion th i {
	font-size: 20px;
}

.sideBox .hotQuestion td {
	padding-top: 10px;
	font-size: 14px;
}

.sideBox .hotQuestion td i {
	margin-right: 5px;
}

.sideBox .hotQuestion td span {
	display: inline-block;
	width: 15px;
}
