<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Servlet01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 1. Servlet 추가 -->
  <servlet>
  	<servlet-name>myFirst</servlet-name>
  	<servlet-class>sec01.FirstServlet</servlet-class>
  </servlet>
  
  <!-- 2. servlet-mapping 추가 -->
  	<servlet-mapping>
  		<servlet-name>myFirst</servlet-name>
  		<url-pattern>/first</url-pattern>
  	</servlet-mapping>
  	
  	<!-- 예제 -->
  	<servlet>
  		<servlet-name>mySecond</servlet-name>
  		<servlet-class>sec01.SecondServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>mySecond</servlet-name>
  		<url-pattern>/second</url-pattern>
  	</servlet-mapping>
  	
</web-app>