@charset "UTF-8";

* { padding : 0; margin :0;}
ul li { list-style-type:none; }
a { text-decoration:none;  }

header { margin-top:20px;}
.wrap { width:800px; margin:0 auto; text-align:center;}

.mainMenuBox {
	height:35px;
	line-height:35px;
	background-color:#555;
	margin:30px 0 30px 0;
}

.mainMenuBox ul { margin:0; padding-left:0; }
	.mainMenuBox ul li { float:left; width:25%; text-align:center;}
	.mainMenuBox ul li a { font-size:14px; font-weight:bold; color:#fff; display:block; }
	.mainMenuBox ul li a:hover { text-decoration:underline; color:red; background:#000;}
	
	section { margin-top:30px;}
.productBox ul {display:inline-block; margin:20px;}	
	li.product { color:blue; font-weight:bold; font-size:20px;} 
	li.price { color:orange; margin-top:10px;}
	
	
	footer { margin-top:30px; }
	
	.pub, .cmty {
		border:solid 1px #000;
		border-radius:20px;
		display:inline-block;
		padding:10px;
		height:150px;
		margin:10px;
		width:42%;
		text-align:left;
	}
	.pub hr, .cmty hr { margin:10px; }
	.pub h4, .cmty h4 {padding-bottom:10px; margin-right:240px; display:inline-block;}
	.pub li, .cmty li { text-align:left;}
	.pub li a, .cmty li a { color:blue; text-decoration:underline;}