@charset "UTF-8";

#stdTable {
	margin: 0 auto;
	border-collapse: collapse; /* 단일 경계선 */
}

#stdTable th {
	color: white;
	background: blue;
}

#stdTable th.name {
	width: 100px;
}

#stdTable th.email {
	width: 200px;
}

#stdTable td {
	height: 20px;
}

#stdTable tr:nth-child(2n) td {
	background: yellow;
}