<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot.MiniProject.dao.IMemberDAO">
	
  	<!-- 로그인 확인 -->
  	<select id="loginCheck" parameterType="hashmap" resultType="string">
  		select memId from member where memId=#{id} and memPwd=#{pwd}
  	</select>
  
  </mapper>
