@charset "UTF-8";


/******************** 헤더 메뉴바 ***********************/

header{
	position:fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid rgb(216, 216, 216);
	z-index: 2;
	height:auto;
	line-height:auto;
	
}

#mainMenu {
	display: flex;
	justify-content: space-between;
	width: 61%;
	margin-left: 19%;
	
}

#mainMenu #menuImg{
	/* margin-top: 15px; */
	
}

#mainMenu #menuImg img {
	width: 150px;
	height:50px;
	cursor: pointer;
	
	
}

#mainMenu #topMenu {
	display: flex;
	justify-content: center;
}

#mainMenu #topMenu #underline {
	position: absolute;
	background-color: rgba(69, 170, 245, 0.7);
	height: 4px;
	transition: 0.3s;
	margin-top: 8px;
	border-radius: 3px;
}

#mainMenu #topMenu a{
	text-decoration: none;
	color:  rgb(128, 128, 128);
	margin: /* 30px0 */  0 10px 0;
	font-weight: bold;
	padding: 0 20px 0 20px;
}

#mainMenu #topMenu a:hover{
	color:rgba(69, 170, 245, 0.7);
}

/* #mainMenu #login {
	margin-top: 30px;
} */

#mainMenu #login a {
	text-decoration: none;
	color:  rgb(128, 128, 128);
	font-size: 12px;
}