@charset "UTF-8";

/* joinSection.css */

/* 바디 설정 */
#wrapper { /* background:#f8f9fa; */
	background:#fff;
}

section { 
	display:flex; 
	justify-content:center; 
	margin-top:3%; 
}

#loginBox {
	text-align:center;
	background:#fff;
	/* border:0px solid #aaa; */
	border-radius:0.63em;
	padding:3%;
	width:33%;
	height:auto;
	line-height:auto;
	/* box-shadow: 1px 1px 1px 4px #eee; */
	
}

/* 회원가입 글씨  */
#loginBox h1 { 
	font-size:2em; 
	font-weight:bold;
	line-height:1.4em;
	margin-bottom:0.31em;
}
	

/* 회원가입 로고*/
#loginBox h2  { 
	margin-top:3%;
}
/* 로고 이미지 사이즈 조정 */
#loginBox h2 img {
	width:12%;
}

/* 주의 사항 간격 조정*/
#loginBox h4 {
	margin:5% 0;
}

/* 주의 사항 강조 */
#loginBox h4 span {
	color:#4ba0b5;
	font-weight:bold;
	
}


/* 전체 틀 */
#inputBox {
	width:80%;
	padding:0 3%;
}

/* 입력창 정렬 */
.windowFontBox {
	display:flex;
	flex-direction:column;
	margin-left:10%;
	width:100%;
	height:auto;
	line-height:auto;
	margin-top:10%;
}

/* 창 정렬 설명 */
.windowFontBox span {
	margin-bottom:2%;
	display:flex; 
	align-items:center;
	height:auto;
	line-height:auto;
}


/* 가입 버튼 설정 */
#joinBtn {
	width:100%;
	margin-left:10%;
	margin-top:10%;
}


/* 이메일 박스 정렬 */
#emailBox {
	width:100%;
	justify-content:space-between;
	display:flex;
	align-items:center;
}


#emailSelectBox {
	width:100%;
	display:flex;
	align-items:center;
}

/* 이메일 창 크기 */
#emailInput {
	width:100%;
}

/* 이메일 주소  */
.emailSelect {
	margin-left:12%;
	margin-top:3%;
	padding:0 22% 0 0;
	color:#495057;
}

/* 이메일 확인 버튼 */
#emailBtn {
	margin-top:5%;
	line-height:70%;
	height:70%;
	width:30%;
	padding:3% 5%;
} 


#pwMent { 
	margin-top:2%;
	font-size:0.75em; 
	text-align:left;
	color:#6c757d;
}



/* select 박스 테두리 제거 */
.emailSelect{
     -webkit-appearance: none;
     border:none;
     border:0;
}


/* 클릭 시 테두리 제거 */
input[type="text"], input[type="password"]{ 
	outline:none;
	
}

/* 클릭 시 이벤트 효과 */
.inputEvent { display:flex; 
	position:relative; 
	height:2.38em; 
	border-bottom:0.06em solid #ccc;
}

input[type="text"], input[type="password"] {
	padding:0 0.63em; 
	width:100%; 
	height:2.38em; 
	color:#444; 
	font-size:1.00em; 
	border:0;
}

/* 선 */
i { 
	position:absolute; 
	left:50%; 
	right:50%; 
	bottom:-1px; 
	border-bottom:3px solid #5fa8d3;;
	transition:all .3s;
}

/* input text,pwbox의 선 focus시 */
input[type="text"]:focus + i, input[type="password"]:focus + i {
	left:0; 
	right:0; 
	transition:all .3s;
}

