@charset "UTF-8";

/* section.css */

#wrapper { /* background:#f8f9fa; */
	background:#fff;
}

section { display:flex; 
	justify-content:center; 
	margin-top:3%; 
}

#loginBox {
	text-align:center;
	background:#fff;
	/* border:0px solid #aaa; */
	border-radius:10px;
	padding:3%;
	width:33%;
	height:auto;
	line-height:auto;
	/* box-shadow: 1px 1px 1px 4px #eee; */
	
}


#loginBox h1 { 
	font-size:2em; 
	font-weight:bold;
	line-height:1.4;
	margin-bottom:5px;
}

/* 로그인 로고*/
#loginBox h2  { 
	margin-top:3%;
}

/* 로그인 로고 이미지 사이즈 조정 */
#loginBox h2 img {
	width:12%;
	
}

/* form 간격 조정 */
#input { 
	display:inline-block;
	width:100%;
}

#loginBtn {
	margin-top:30px;
	margin-bottom:30px;
	width:100%;
	
}

/* 버튼 */
.btn-gradient  {
	width:80%;
}

/* 테두리 제거 */
#emailInput:focus, #pwInput:focus { 
	outline:none;
}

/* 아이디 찾기, 회원가입 */
#joinPass ul li { display:inline-block;
	color:#808080;
	height:auto;
	line-height:auto;
	padding:3px 5px;
}

/* 아이디 찾기, 회원가입 글씨 */
#joinPass ul li a { 
	color:#808080;
	font-size:14px;
}


#input{
	position:ralative; 
	height:3.13 em;
}


.inpuEventBox { 
	position:relative; 
	width:100%; 
	height:3.13em; 
	margin-top:40px;
} 

.inpuEventBox input { 
	box-sizing:border-box; 
	padding:20px 0 0; 
	width:100%; 
	height:100%; 
	border:0 none; 
	color:#595f63; 
	outline:none; 
}

.inpuEventBox label { 
	position:absolute; 
	left:0%; 
	bottom:0; 
	width:100%; 
	height:100%; 
	border-bottom:1px solid #000; 
	text-align:left; 
	pointer-events:none; 
}

.inpuEventBox label:after { 
	content:""; 
	position:absolute; 
	left:0;
	bottom:-1px; 
	width:0; 
	height:100%; 
	border-bottom:3px solid #5fa8d3; 
	transition:all .3s ease; 
} 

/* 파란색 가로줄 */
.inpuEventBox label span { 
	position:absolute; 
	left:0; 
	bottom:5px; 
	transition:all .3s ease; 
} 

.inpuEventBox input:focus + label span, .inpuEventBox input:valid + label span { 
	transform:translateY(-150%); 
	font-size:0.88em; 
	color:#5fa8d3; 
} 

/*  input에 글을 입력하고 포커스가 지나간 상태에서 제어하려면 valid 선택자를 써야한다. */
/* 포커스 될 때 label span(name)이 위로 올라감 */
.inpuEventBox input:focus + label::after, .inpuEventBox input:valid + label::after { 
	width:100%; 
	transform:translateX(0); 
} 
 