@charset "UTF-8";

* {margin:0; padding:0; /*border: 1px solid;*/}
/* 메뉴탭 css  */

#wrap { 
	margin: 0 auto;
	width: 100%; 
	height: 100%; 
	position: absolute; 
	background-color: rgba(0,0,0,0.5);
	height : auto;
  	min-height: 100%;
  	
}

/* 헤더 메뉴바 */
	
#wrapper { 
	width: 100%; 
	height: 100%; 
	position: absolute; 
	background-color: rgba(0,0,0,0.5);
	
}

/* 헤더 메뉴바 */

#mainMenu {
	display: flex;
	justify-content: space-between;
	width: 61%;
	margin-left: 19%;
	border-bottom: 1px solid rgb(216, 216, 216);
}

#mainMenu #menuImg{
	margin-top: 15px;
}

#mainMenu #menuImg img {
	width: 150px;
	height:50px;
	cursor: pointer;
}

#mainMenu #topMenu {
	display: flex;
	justify-content: center;
}

#mainMenu #topMenu #underline {
	position: absolute;
	background-color: rgba(69, 170, 245, 0.7);
	height: 4px;
	margin-top: 8px;
	transition: 0.3s;
	border-radius: 3px;
}

#mainMenu #topMenu a{
	text-decoration: none;
	color: #000;
	margin: 30px 0 10px 0;
	font-weight: bold;
	padding: 0 20px 5px 20px;
}

#mainMenu #topMenu a:hover{
	color: rgba(69, 170, 245, 0.7);
}

#mainMenu #login {
	margin-top: 30px;
}

#mainMenu #login a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
