@charset "UTF-8";

/*********************** 섹션 ************************/


.notice {
	position: relative;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 20px;
	margin: auto;
	background-color: rgba(102,152,203,0.08);
}

.noticeTitle {
	margin: 10px 0 0 20px;
	font-family: 'Jua', sans-serif;
	font-size: 24px;
}

.noticeText{
	width:95%;
	margin: 10px 0 0 20px;
	font-size: 20px;
	font-family: 'Nanum Pen Script', cursive;
}

.noticeOthers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px; 
}

.TagAnaTime {
	margin: 0 0 0 20px;
}

.Tag {
	background-color: rgb(180, 180, 180);
	border-radius: 5px;
	display: inline-block;
	padding: 3px 5px 0px 5px;
	margin-bottom: 7px;
	color : white;
	font-weight: bold;
}

.noticeTagBox .Tag:hover {
	color : white;
	cursor: pointer;
}

.noticeTime {
	font-size: 15px;
	color: rgb(128, 128, 128);
}

.noticeUser {
	margin: 10px 20px 0 0;
	display: flex;
	align-items: center;
}

img {
	width: 30px;
}











