@charset "UTF-8";

/*********************** 섹션 ************************/
section {
	position: relative;
	top:75px;
	display: flex;
	justify-content: center;
	height: auto;
	min-height: 100%;
	padding-bottom:10%;
}

.bodyWrap {
	width:1400px;
	height: 100%;
	display: flex;
}

/********** 자유 박스 *********/
.bodyWrap .talkBoxWrap{
	width: 1050px;
}

.searchBox {
	margin: auto;
	margin-top: 40px;
}

.searchBox .btnSearch {
	margin-left: 5px;
}

.btnFilter {
	font-family: 'Jua', sans-serif;
}

/*********** 사이드박스 ********/
.bodyWrap .sideBox{
	width: 350px;
}

.sideBox .createTalk button{
	margin: 50px 0 0 35px;
	width:80%;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.sideBox .createTalk button:hover{
	cursor: pointer;
}
