

section { 
	position: relative;
	height : auto;
  	min-height: 100%;
  	padding-bottom:50%; 
  	margin:0 auto;
  
}

.tableBox {
	margin:0 auto;
	padding:3%;
	width:100%;
	height :50%;
	line-height:50%;
  	min-height: 100%;
}
 
table {
	
	margin-top:10%;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	table-layout:fixed;
	word-break:break-all;
	width:100%;
	
}

th {
	background:#000;
	color:#fff;
		font-size:14px;
	padding:20px 0;
}


th, tr, th, td {
	border:1px solid #aaa;
	padding:30px 0;
	font-size:12px;
	white-space: nowrap;
	width:100%;
	overflow:hidden;
	
}


td {
	text-align:center;
	vertical-align:middle;
	border-spacing:30px;
	padding:30px 0;
}


/* Table */
.manage {
    width:80%;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    margin-left:20%;
}

.manage tr {
    border-bottom: 1px solid #eee;
}
.manage tr:last-child {
    border: none;
}
.manage tr:nth-child(even) {
    background-color: #ddd;
}

.manage th {
	font-size:14px;
}
.manage th, .manage td {
    padding: 12px;
    text-align: center; 
}
.manage tr th {
    background-color: royalblue;
    color: #fff;
}
.manage tr th:first-child {
    border-radius: 5px 0 0 0;
}
.manage tr th:last-child {
    border-radius: 0 5px 0 0;
}



select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #000;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
	margin-left:5%;
  position: relative;
  display: flex;
  width: 12em;
  height:3em;
  border-radius: .25em;
  overflow: hidden;
  font-size:8px;
  color:#fff;
}

select option {
	font-size:12px;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: royalblue;
  transition: .25s all ease;
  pointer-events: none;
  
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}


.blank {
	margin-left:5%;
	display:flex;
}