@charset "UTF-8";

/* myPageEdit.css */

.wrapper { /* background:#f8f9fa; */
	background:#fff;
}

section { 
	position: relative;
	top:75px;
	display:flex; 
	justify-content:center; 
	height : auto;
  	min-height: 100%;
  	height:100%;
  	padding-bottom:10%; 
}

.myPageBox {
	text-align:left;
	background:#fff;
	border-radius:10px;
	padding:3%;
	width:33%;
	height:auto;
	line-height:auto;
	
}


.myPageBox h1 { 
	font-size:2em; 
	font-weight:bold;
	line-height:1.4em;
	margin-bottom:3%;
	margin-left:8%;
	
	
}

.userPage { 
	display:flex;
	
}

.userPage li {
	height:100%;
	line-height:100%;
	margin:5% 0 4%;
	
}

.userPage li:last-child {
	margin-left:2%;
}

.userBox {
	border:0 solid #aaa;
	box-shadow: 1px 1px 1px 4px #eee; 
	display:flex;
	flex-direction:column;
	align-items:center;
	width:30%;
	height:55%;
	line-height:55%;
	justify-content:space-between;
	margin-left:10%;
}

.boxImage {
	margin-top:25%;
	display:flex;
	
}

.boxUser {
	margin-bottom:20%;
	text-align:center;
	width:60%;
	
}

/*  이름 포인트 */
.fontBox {
	display:block;
}

.fontBox li {
	margin-bottom:20%;
}

.fontBox li:first-child {
	margin-top:20%;
	font-size:24px;
	
}

.fontBox li:nth-child(2) {
	font-size:20px;
}


.fontBox li:last-child {
	color:#aaa;
	font-weight:bold;
	font-size:14px;
}

/* 포인트 이미지 */
.pointBox {
	display:flex;
	justify-content:space-between;
	width:100%;
}


.pointBox li {
	display:flex;
	align-items:center;
	height:20px;
	line-height:20px;
	
}

.pointBox li:nth-child(2), .pointBox li:nth-child(3){
	margin-left:10%;
}


.point {
	margin-top:15%;
	margin-left:10%;
}



.login a {
	font-weight:bold;

}
 
 
 .userProfileBox {
 	display:flex;
	flex-direction:center;
 }
 
 /* 닉네임 소속 이메일 주소 */
 .userInfo {
 	display:flex;
 	margin:5% 0 0 5%;
 	width:50%;
 }
 
 .userInfo li {
 	padding:10% 0;
 }
 
 .userInfo li h2 {
 	font-size:24px;
 }
 
.userinfoBox {
	display:flex;
	flex-direction:column;
	width:60%;
}


.userinfoBox li {
	display:flex;
	align-items:center;
	
}


.nameInfo {
	margin-top:2%;
	margin-left:8%;
}


.loginBox {
	text-align:center;
	background:#fff;
	/* border:0px solid #aaa; */
	border-radius:0.63em;
	padding:3%;
	width:33%;
	height:auto;
	line-height:auto;
	/* box-shadow: 1px 1px 1px 4px #eee; */
	
}

/* 회원가입 글씨  */
.loginBox h1 { 
	font-size:2em; 
	font-weight:bold;
	line-height:1.4em;
	margin-bottom:0.31em;
}
	

/* 회원가입 로고*/
.loginBox h2  { 
	margin-top:3%;
}
/* 로고 이미지 사이즈 조정 */
.loginBox h2 img {
	width:12%;
}

/* 주의 사항 간격 조정*/
.loginBox h4 {
	margin:5% 0;
}

/* 주의 사항 강조 */
.loginBox h4 span {
	color:#4ba0b5;
	font-weight:bold;
	
}


/* 전체 틀 */
.inputBox {
	width:80%;
	padding:0 3%;
}

/* 입력창 정렬 */
.windowFontBox {
	display:flex;
	flex-direction:column;
	margin-left:10%;
	width:100%;
	height:auto;
	line-height:auto;
	margin-top:10%;
}

/* 창 정렬 설명 */
.windowFontBox span {
	margin-bottom:2%;
	display:flex; 
	align-items:center;
	height:auto;
	line-height:auto;
}



/* 버튼 테두리 */
.btnBox {
	display:flex;
	margin-top:10%;	
	margin-left:20%;
	
}

/* 수정, 취소 버튼 */
.editBtn, .resetBtn {
	width:50%;
}

/* 닉네임 중복 확인 버튼 프레임 */
.nickNameInputBox {
	width:100%;
	justify-content:space-between;
	display:flex;
	align-items:center;
}

.nickNameBtnBox {
	display:flex;
	margin-top:20%;
	margin-left:5%;
}


.nickNameBtn {
	line-height:80%;
	height:80%;
	padding:15% 28%;
	margin-left:20%;
	
} 


/* 이메일 박스 정렬 */
.emailBox {
	width:100%;
	justify-content:space-between;
	display:flex;
	align-items:center;
}


.emailSelectBox {
	width:100%;
	display:flex;
	margin-top:10%;
	align-items:center;
	
}
/* 이메일 창 크기 */
.emailInput {
	width:100%;
}


/* 이메일 주소  */
.emailSelect {
	margin-left:12%;
	margin-top:3%;
	padding:0 22% 0 0;
	color:#495057;
	border:1px solid #aaa;
}

/* 이메일 중복 확인 버튼 */
.emailBtn {
	margin-top:5%;
	line-height:70%;
	height:70%;
	padding:3% 5%;
	margin-left:5%;
} 

/* 비밀번호 설명 */
.pwMent { 
	margin-top:2%;
	font-size:0.75em; 
	text-align:left;
	color:#6c757d;
}



/* 클릭 시 테두리 제거 */
input[type="text"], input[type="password"]{ 
	outline:none;
	
}

/* 클릭 시 이벤트 효과 */
.inputEvent { display:flex; 
	position:relative; 
	height:2.38em; 
	border-bottom:0.06em solid #ccc;
}

input[type="text"], input[type="password"] {
	padding:0 0.63em; 
	width:100%; 
	height:2.38em; 
	color:#444; 
	font-size:1.00em; 
	border:0;
}

/* 선 */
i { 
	position:absolute; 
	left:50%; 
	right:50%; 
	bottom:-1px; 
	border-bottom:3px solid #5fa8d3;;
	transition:all .3s;
}

/* input text,pwbox의 선 focus시 */
input[type="text"]:focus + i, input[type="password"]:focus + i {
	left:0; 
	right:0; 
	transition:all .3s;
}


/* 파일 이미지 등록 */
.box-file-input {
	margin-top:10%;
}

.box-file-input label{
  display:inline-block;
  background:#23a3a7;
  color:#fff;
  padding:0px 10px;
  line-height:35px;
  height:35px;
  cursor:pointer;
  border-radius:3px;

}

.box-file-input label:after{
  content:"이미지 등록";
}

.box-file-input .file-input{
  display:none;
}

.box-file-input .filename{
  display:inline-block;
  padding-left:10px;
}