@charset "UTF-8";

/* myPageAnswer.css */

.wrapper { /* background:#f8f9fa; */
	background:#fff;
}

section { 
	position: relative;
	top:75px;
	display:flex; 
	justify-content:center; 
	height : auto;
  	min-height: 100%;
  	padding-bottom:10%; 
}

.myPageBox {
	text-align:left;
	background:#fff;
	border-radius:10px;
	padding:3%;
	width:33%;
	height:auto;
	line-height:auto;
	
	
}


.myPageBox h1 { 
	font-size:2em; 
	font-weight:bold;
	line-height:1.4em;
	
}

.userPage { 
	display:flex;
	
}

.userPage li {
	height:100%;
	line-height:100%;
	margin:5% 0 4%;
	
}

.userPage li:last-child {
	margin-left:2%;
}

.userBox {
	border:0 solid #aaa;
	box-shadow: 1px 1px 1px 4px #eee; 
	display:flex;
	flex-direction:column;
	align-items:center;
	width:30%;
	height:55%;
	line-height:55%;
	justify-content:space-between;
	
}

.boxImage {
	margin-top:25%;
	display:flex;
	
}

.boxUser {
	margin-bottom:20%;
	text-align:center;
	width:60%;
	
}

.fontBox {
	display:block;
}

.fontBox li {
	margin-bottom:20%;
}

.fontBox li:first-child {
	margin-top:20%;
	font-size:24px;
	
}

.fontBox li:nth-child(2) {
	font-size:20px;
}


.fontBox li:last-child {
	color:#aaa;
	font-weight:bold;
	font-size:14px;
}

.pointBox {
	display:flex;
	justify-content:space-between;
	width:100%;
}


.pointBox li {
	display:flex;
	align-items:center;
	height:20px;
	line-height:20px;
	
}

.pointBox li:nth-child(2), .pointBox li:nth-child(3){
	margin-left:10%;
}


.point {
	margin-top:15%;
	margin-left:10%;
}
.tagBox {
	display:flex;
	margin-top:7%;
}

.tagBox li {
	margin-left:2%;
}

.tagBox li:first-child {
	margin-left:0%;
}


.tagAct, .tagCht {
	border:0px solid #aaa;
	box-shadow: 1px 1px 1px 4px #eee;
	width:100%;
	padding:6px 10px; 
}

.tagAct:focus, .tagCht:focus {
	outline:none;
	box-shadow: 1px 1px 1px 4px #00a8be;
	color:#aaa;
	font-size:20px;
}

.tagBox li a span, .userPage li a span{
	background-color: #aaa;
	 border-radius:10px;
	 padding : 6px 15px;
	 
}

.userPage li:first-child a span, .tagBox li:nth-child(3) a span{
	background:#00a8be;
}

.tagBox li a span, .userPage li a span {
	color: #fff;
	font-weight:bold;
	font-size:14px;
}

.tagBox li a:hover span, .userPage li a:hover span  {
	background:#00a8be;
}


.login a {
	font-weight:bold;

}
 
 
 .userProfileBox {
 	display:flex;
	flex-direction:center;
 }
 
 .userInfo {
 	display:flex;
 	margin:5% 0 0 5%;
 	width:50%;
 }
 
 .userInfo li {
 	padding:10% 0;
 }
 
 .userInfo li h2 {
 	font-size:24px;
 }
 
.userinfoBox {
	display:flex;
	flex-direction:column;
	width:60%;
}


.userinfoBox li {
	display:flex;
	align-items:center;
	
}


.nameInfo {
	margin-top:2%;
	margin-left:8%;
}


.questionBox {
	display:flex;
	justify-content:space-between;
	margin-top:5%;
	align-items:center;
	width:100%;
}


.question {
	display:flex;
	width:100%;
	
}

.question img {
	margin-right:2%;
}

.question a {
	font-size:18px;
	
}

.selectBox {
	width:8%;
	
}

.selectBox select {
	padding:3% 30% 3% 10%;
	border-radius: 5px;
    background-color: #099aad;
    color: #fff;
    border:none;
}
.nickname {
	font-weight:bold;
	font-size:18px;
}


.QAContentBox {
	display:flex;
	justify-content:space-between;
	align-items:center;
	border:1px solid #aaa;
	padding:3%;
	margin-top:2%;
	width:100%;
}

.leftBox {
	display:flex;
	width:100%;
}


.answer {
	border:1px solid #aaa;
	border-radius:10%;
	
}

.answer:hover {
	border:2px solid #00a8be;
}

.answer, .like, .views{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-left:2%;
	padding:2% 3%;
	font-size:12px;
	
}

.answer a {
	color:#aaa;
}

.answer a:first-child {
	font-size:17px;
	padding-bottom:30%;
	
}

.like a:first-child, .views a:first-child {
	font-size:17px;
	padding-bottom:20%;
}

.QAcontent {
	align-items:left;
	display:flex;
	flex-direction:column;
	margin-left:3%;
	margin-top:2%;
}

.QAcontent a {
 	font-size:17px;
 	
}


.hashtag {
	margin-top:3%;
}

.QAcontent .hashtag a span {
	color:#007895;
	font-size:14px;
	background:#abe9f8;
	padding:1% 2%;
	border-radius:20%;
}


.QAcontent .hashtag span:hover {
	color:#fff;
}

.hour {
	width:12%;
	
}

.hour a {
	color:#aaa;
}