@charset "UTF-8";

/*********************** 섹션 ************************/
section {
	position: relative;
	top:75px;
	display: flex;
	justify-content: center;
	height: auto;
	min-height: 100%;
	padding-bottom:10%;
}

.bodyWrap {
	width:1400px;
	height: 100%;
	display: flex;
}

/********** 자유 박스 *********/
.bodyWrap .talkBoxWrap{
	width: 1050px;
}

/*********** 사이드박스 ********/
.bodyWrap .sideBox{
	width: 350px;
}

.sideBox .createTalk button{
	background-color: rgb(112, 190, 248);
	color: white;
	border: none;
	border-radius: 5px;
	margin: 50px 0 0 35px;
	width:80%;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
}

.sideBox .createTalk button:hover{
	cursor: pointer;
}
